body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.A {
  background-color: #f2a365;
  position: relative;
  padding: 50px 0;
}

.B {
  background-color: #f3e1e1;
}

.C {
  background-color: Grey;
}

.topcloud {
  position: absolute;
  left: 500px;
  top: 10px;
}

.tree2 {
  position: absolute;
  right: 200px;
}
