body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #1b262c;
}

h1 {
  color: #dddddd;
  font-size: 5.50em;
  margin: 80px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #f1d1d1;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #481380;
  font-family: 'Montserrat', sans-serif;
}

h4 {

  color: #512b58;
}

p{
  line-height: 3;
}

hr{
  border: dotted #00263b 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;

}

a
{
  color: blue;
  margin: 10px;
  font-family: 'Sacramento', cursive;
  text-decoration: none;

}
a:hover{
  color: white;
}

.copyright{
  color: white;
}

.A {
  background-color: #f2a365;
  position: relative;
  padding: 50px 0;
}

.B {
  background-color: #f3e1e1;
  line-height: 2;
  padding: 30px 0 30px 0;

}

.C {
  background-color: Grey;
  padding: 10px 20px;
}

.topcloud {
  position: absolute;
  left: 900px;
  top: 50px;
}

.tree2 {
  position: absolute;
  right: 200px;
}

.techimage{
  float: right;
  width: 20%;
  height: 10%;
}
.Webimage{
  float: left;
  width: 10%;
  height: 5%;
}

.intro{
  width: 30%;
  margin: auto;
}

.btn{
	background-color:blue;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid blue;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.classname:hover {
	background-color:#5cbf2a;
}.classname:active {
	position:relative;
	top:1px;
}
